body {
    background: whitesmoke;
    /*font-family: 'Noto Sans', sans-serif;*/
}
.app-div{
    padding: 20px;
    margin: 10px 10px;
}
.ui-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ui-bar-elem {
}
.disappearing-msg {
    text-align: center;
}
.message-box{
    text-align: center;
}
.charts-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
.chart-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chart-canvas{
}
.chart-title {
    text-align: center;
}
.recharts-wrapper {
    margin: 0 auto;
}
.chart-metric {
    font-size: medium;
}
.chart-params {
    font-size: small;
}

.config-buttons-div {
    display: compact;
    text-align: center;
}
